.chart {
    -fx-background-color: rgb(36, 45, 54);

}

.chart-title{

    -fx-text-fill: white;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-area-symbol { -fx-background-color: rgb(27, 195, 161); }
.default-color0.chart-series-area-line { -fx-stroke: rgb(27, 195, 161); }
.default-color0.chart-series-area-fill {  -fx-fill: rgba(27, 195, 161, 0.28);  }



.axis{
    -fx-tick-label-fill: white;


}